body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.boton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #0056b3;
}
body {
    background-color: #f678d0; /* Color de fondo gris claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}